#container {
	display: grid;
	border: 1px black solid;
	grid-column-gap: 0;
	grid-row-gap: 0;
}
#container div {
	border: 1px blue;
}

#heading {
	text-align: center;
	color: darkblue;
}

#reset {
	margin-bottom: 2ex;
	font-size: 2ex;
	background-color: lightgray;
}
